.section_details {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 50px;
}

.div_section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.div_img {
    position: relative;
    max-width: 500px;
    min-width: 300px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all .6s ease-in-out;
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_info {
    max-width: 500px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.p_synopsis {
    text-align: justify;
}

.div_info button {
    font-weight: bold;
    background-color: #6046FF;
    color: #FFF;
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
    margin-right: auto;
    cursor: pointer;
}

.div_info .strong_assessment {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 900px) {
    .section_details {
        padding: 50px 20px;
    }

    .div_section {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    .div_img {
        max-width: 300px;
    }

    .div_info {
        align-items: center;
    }

    .div_info button {
        margin: 0 auto;
    }
}