.main {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .main {
    padding: 0 20px;
  }   
}

@media (max-width: 480px) {
  .main {
    width: 375px;
  }
}