.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    padding: 12px 3%;
}

.navbar h1 {
    color: #FFF;
    filter: drop-shadow(0 0 2px #F3EB00);
    cursor: default;
}

.navbar svg {
    width: 35px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    filter: drop-shadow(0 0 2px #6046FF);
}

.navbar svg:hover {
    color: #6046FF;
}