.navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    padding: 12px 3%;
    z-index: 10;
}

.navbar h1 {
    color: #FFF;
    filter: drop-shadow(0 0 2px #F3EB00);
    cursor: default;
    transition: all .4s ease-in-out;
}

.navbar svg {
    width: 35px;
    font-size: 35px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    filter: drop-shadow(0 0 2px #6046FF);
}

.navbar svg:hover {
    color: #6046FF;
}

.navbar svg.cursoroff {
    cursor: no-drop;
    filter: drop-shadow(0 0 0);
}

.navbar svg.cursoroff:hover {
    color: black;
}

@media (max-width: 480px) {
    .navbar {
        min-width: 375px;
    }
    .navbar h1 {
        font-size: 13px;
        text-align: center;
    }
}